<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trao Yêu Thương">
    <meta name="keywords" content="Trao Yêu Thương, Gửi Trọn Niềm Tin">

    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
     
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--datepicker-->
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}">

    <!-- Core build with no theme, formatting, non-essential modules -->

    
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
   
    

</head>
<body>
<div class="mcontainer navbar-wrapper bg-white">
	<!-- include header -->
    <th:block th:include="@{header-logo}"></th:block>
    
    <!-- main content -->
    <main class="soju-wrapper lg:mt-0 page-article">
    	<div class="page404">
	    	<h3>Xin lỗi, trang bạn đang tìm kiếm không tồn tại!</h3>
	    	<a th:href="@{/Donation/index}">Quay lại</a>
    	</div>
    </main>
    
    
    
    
	<!-- include footer -->
    <th:block th:include="@{footer}"></th:block>
</div>  
   
   
    
<!-- Required Jquery -->
<!-- <script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js}"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery/jquery.nail.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/action.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/script-view.js}"></script>


</body>
</html>