<div class="footer">
	<div class="footer-content">
            <div class="col-footer">
               
                <ul>
                    <li><a th:href="@{/Donation/index}">Trang chủ</a></li>                    
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>

            <div class="col-footer"> 
                
                             
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p class="head-ti">&copy; 2021 SWP490x_01-A_VN_DN Đồ án cuối khóa_CCDN.</p>
        </div>
</div>