<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quên mật khẩu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trao Yêu Thương">
    <meta name="keywords" content="Trao Yêu Thương, Gửi Trọn Niềm Tin">

    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}">

    <!-- Core build with no theme, formatting, non-essential modules -->

    <!-- Rich Text Editor css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style-forgot.css}">
    
</head>
<body>
	<div class="mcontainer navbar-wrapper">
       <!-- include header -->
       <th:block th:include="@{header-logo}"></th:block>
       
       <div class="forgot-form">
		    <form th:action="@{/Donation/forgotPassword}" th:object="${userForm}" method="post">
				<h2>Tài khoản của bạn</h2>
				
				
				<hr>
				<p>Bạn vui lòng điền vào Email để có thể lấy lại mật khẩu mới!</p>
		        <div class="form-group">
					<div class="input-group">
						
						<input type="text" class="form-control" id="email" name="email" th:field="*{email}" placeholder="Nhập Email">
						
					</div>
					
		        </div>
		        
				<div class="form-group">
		            <button type="submit" class="btn btn-primary btn-lg">Gửi</button>
		            <a class="btn-huy btn" th:href="@{/Donation/login}">Hủy</a>
		        </div>
		        
		        <div th:if="${msg != null}"
           th:utext="${msg}" class="stick">...</div>
		    </form>
			
		</div>
		 <!-- include footer -->
       	<th:block th:include="@{footer}"></th:block>
    </div>  
   
   
    
<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/action.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/action_login.js}"></script>
</body>
</html>