<div class="div-navbar">
	<div class="inner-navbar main-menu" style="height: calc(100% - 20px);">
    	<div class="mCustomBox" id="mCB">
      		<div id="mCB_container_wrapper" class="mCB_container_wrapper">
            	<div class="mCB_container" style="width: 100%; left: 0px; top: 0px;">
                	<ul class="mitem left-item">
                    	
                  		<li data="account">
                        	<a th:href="@{/Donation/user/accountInfo}">
                            	<span class="micon">
                                	<i class="ti-user"></i>
                                    <span class="mtext">Thông tin tài khoản</span>
                               	</span>
                        	</a>
                     	</li>                        
                        <li data="history">
                        	<a th:href="@{/Donation/user/historyDonation}">
	                            <span class="micon">
	                            	<i class="ti-time"></i>
	                                <span class="mtext">Lịch sử quyên góp</span>
	                          	</span>
                            </a>
                      	</li>
                	</ul>
            	</div>
          	</div>
      	</div>
  	</div>
</div>