<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa chiến dịch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CodedThemes">
    
    <meta name="author" content="CodedThemes">

    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--datepicker-->
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}">

    <!-- Core build with no theme, formatting, non-essential modules -->

    <!-- Rich Text Editor css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

</head>
<body>
	<div class="mcontainer navbar-wrapper" vertical-effect="pink" vertical-nav-type="expanded">
        <div class="overlay-box"></div>
        <!-- include header -->
        <th:block th:include="@{admin/header}"></th:block>
        
        <div class="div-main-container">
            <div class="div-wrapper">
                <!-- include navbar -->
                <th:block th:include="@{admin/navbar}"></th:block>
                
                <!-- content -->
                <div class="div-content">
                    <div class="div-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">    
                                    <form id="f-campaign-create" th:action="@{/Donation/save}" th:object="${campaign}" method="post" enctype="multipart/form-data">
                                        <h3 class="title">Chỉnh sửa chiến dịch
                                        <th:block th:switch="*{status}">                                        	
                                           	<span th:case="0" class="label label-warning m-status">Chưa kích hoạt</span>
                                           	<span th:case="1" class="label label-primary m-status">Đang hoạt động</span>
                                           	<span th:case="2" class="label label-danger m-status">Đã hết hạn</span>
                                           	<span th:case="*" class="label label-success m-status">Đã hoàn thành</span>
                                        </th:block></h3>                                        
                                        <div id="campaign-msg" class="msg" th:if="${msg}" th:text="${msg}"></div>
                                        <input type="hidden" th:field="*{campaignId}">
                                        <input type="hidden" th:field="*{status}">
                                        <div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label for="campaign-name" class="lable-input">Tên chiến dịch <span class="stick">*</span></label>
                                                </div>                                            
                                                <div class="col-sm-9 col">
                                                    <input id="campaign-name" type="text" th:readonly="*{status == 0}? false : true" th:field="*{name}" placeholder="Nhập tên chiến dịch" class="form-control" autofocus>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label for="campaign-summary" class="lable-input">Tóm tắt chiến dịch <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-9 col">
                                                    <textarea id="campaign-summary" th:readonly="*{status == 0}? false : true" th:field="*{summary}" class="form-control" rows="5" placeholder="Nhập tóm tắt chiến dịch"></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label class="lable-input">Hình đại diện <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-9 col input-group">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-default btn-file">
                                                            Chọn hình... <input type="file" th:disabled="*{status == 0}? false : true" id="imgInp" th:field="*{file}">
                                                        </span>
                                                    </span>
                                                    <input id="campaign-avatar" th:field="*{urlAvatar}" type="text" class="form-control" readonly>
                                                </div>
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <div class="img-box">
                                                    
                                                        <img id="img-upload" th:src="@{*{urlAvatar}}"/>
                                                        <input type="hidden" th:field="*{hisUrl}">
                                                    </div>
                                                </div>                                            
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label for="campaign-goal" class="lable-input">Mức tiền quyên góp(vnd) <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-9 col">
                                                    <div class="col-sm-3 col">
                                                        <input id="campaign-goal" th:readonly="*{status == 0}? false : true" th:name="goal" th:value="${#numbers.formatInteger(campaign.goal,3)}" type="number" class="form-control" autofocus>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label class="lable-input">Ngày bắt đầu <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-2 col input-group date" id="from-datepicker" data-date-format="dd-mm-yyyy">
                                                    <input id="from-date" th:disabled="*{status == 0}? false : true" th:field="*{dateStart}" type="text" class="form-control" placeholder="dd-mm-yyyy" readonly>
                                                    <span class="input-group-addon" th:style="*{'pointer-events:' + {status == 0 ? 'auto' : 'none'}}">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label class="lable-input">Ngày kết thúc <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-2 col input-group date" id="to-datepicker" data-date-format="dd-mm-yyyy">
                                                    <input id="to-date" th:disabled="*{status != 0} ? (*{status == 3} ? true : false) : false" th:field="*{dateEnd}" type="text" class="form-control" placeholder="dd-mm-yyyy" readonly>
                                                    <span class="input-group-addon" th:style="*{'pointer-events:' + {status != 0 ? ({status == 3 ? 'none' : 'auto'}) : 'auto'}}">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col">
                                                    <label for="campaign-content" class="lable-input">Nội dung chiến dịch <span class="stick">*</span></label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col" th:switch="*{status}">
                                                    <textarea id="campaign-content" th:case="0" th:field="*{content}" class="form-control" rows="5" placeholder="Nhập nội dung chiến dịch"></textarea>
                                                    <div class="c-content" th:case="*" th:utext="*{content}"></div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-3 col">
                                                    <label for="bankItem" class="lable-input">Tài khoản thụ hưởng <span class="stick">*</span></label>
                                                </div>
                                                <div class="col-sm-9 col">
                                                    <div class="col-sm-3 col">
                                                    <!-- <input type="text" th:field="${bankId}" value="1"> -->
                                                    
                                                        <select class="form-control" id="bankItem" th:disabled="*{status == 0}? false : true" th:field="*{bankId}">
                                                            <option th:each="bankAccount : ${bankAccounts}"
                            										th:value="${bankAccount.id}"
                            										th:utext="${bankAccount.accountName}"/>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-9 col-sm-offset-3 btn-action-group">
                                                    <button type="submit" class="btn btn-primary" th:disabled="*{status == 3}? true : false">Cập nhật</button>
                                                    <a th:href="@{/Donation/admin/managerCampaign}" class="btn btn-default">Hủy</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          	</div>
		</div>
		<!-- include footer -->
    	<th:block th:include="@{admin/footer}"></th:block>
	</div>
	
	
<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    
<script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/action.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/install_richtext.js}"></script>
</body>
</html>