<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- Favicon icon -->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap/bootstrap.min.css}">
    <!--datepicker-->
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">

    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/icofont/css/icofont.css}">

    <!-- Core build with no theme, formatting, non-essential modules -->

    <!-- Rich Text Editor css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

</head>
<body>
    <div class="mcontainer navbar-wrapper" vertical-effect="pink" vertical-nav-type="expanded">
        <div class="overlay-box"></div>
        <!-- include header -->
        <th:block th:include="@{admin/header}"></th:block>
        
        <div class="div-main-container">
            <div class="div-wrapper">
                <!-- include navbar -->
                <th:block th:include="@{admin/navbar}"></th:block>
                <!-- content -->
                <div class="div-content">
                    <div class="div-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <!--card1 start-->
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card widget-card-1">
                                                <a class="card-block-small" th:href="@{/Donation/admin/managerCampaign/0}">
                                                    <i class="icofont icofont-pie-chart bg-c-yellow card-icon"></i>
                                                    <span class="text-c-blue f-w-600"></span>
                                                    <h4 th:text="${inactive}">2</h4>
                                                    <div>
                                                        <span class="f-left m-t-10 text-muted">
                                                            <i class="text-c-yellow f-16 icofont icofont-warning m-r-10"></i>
                                                            Chiến dịch mới
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--card1 end-->
                                        <!--card2 start-->
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card widget-card-1">
                                                <a class="card-block-small" th:href="@{/Donation/admin/managerCampaign/2}">
                                                    <i class="icofont icofont-calendar bg-c-red card-icon"></i>
                                                    <span class="text-c-pink f-w-600"></span>
                                                    <h4 th:text="${expired}">1</h4>
                                                    <div>
                                                        
                                                        <span class="f-left m-t-10 text-muted">
                                                            <i class="text-c-red f-16 icofont icofont-refresh m-r-10"></i>
                                                            Chiến dịch đã hết hạn
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--card2 end-->
                                        <!--card3 start-->
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card widget-card-1">
                                                <a class="card-block-small" th:href="@{/Donation/admin/managerCampaign/1}">
                                                    <i class="icofont icofont-clock-time bg-c-blue card-icon"></i>
                                                    <span class="text-c-green f-w-600"></span>
                                                    <h4 th:text="${active}">45</h4>
                                                    <div>
                                                        <span class="f-left m-t-10 text-muted">
                                                            <i class="text-c-blue f-16 icofont icofont-tag m-r-10"></i>
                                                            Chiến dịch đang hoạt động
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--card3 end-->
                                        <!--card4 start-->
                                        <div class="col-md-6 col-xl-3">
                                            <div class="card widget-card-1">
                                                <a class="card-block-small" th:href="@{/Donation/admin/managerCampaign/3}">
                                                
                                                    <i class="icofont icofont-ui-clip-board bg-c-green card-icon"></i>
                                                    <span class="text-c-yellow f-w-600"></span>
                                                    <h4 th:text="${completed}">3</h4>
                                                    <div>
                                                        <span class="f-left m-t-10 text-muted">
                                                            <i class="text-c-green f-16 icofont icofont-badge m-r-10"></i>
                                                            Chiến dịch đã hoàn thành
                                                        </span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <!--card4 end-->
                                        
                                        <div class="col-md-12 col-xl-8"></div>

                                        <div class="col-md-12 col-xl-4"></div>

                                        <div class="col-md-12 col-xl-6"></div>

                                        <div class="col-md-12 col-xl-6"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- include footer -->
    	<th:block th:include="@{admin/footer}"></th:block>
    </div>






<!-- Required Jquery -->
<script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    
<script type="text/javascript" th:src="@{/richtext/jquery.richtext.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/action.js}"></script>
</body>
</html>