<div class="div-navbar">
	<div class="inner-navbar main-menu" style="height: calc(100% - 20px);">
    	<div class="mCustomBox" id="mCB">
      		<div id="mCB_container_wrapper" class="mCB_container_wrapper">
            	<div class="mCB_container" style="width: 100%; left: 0px; top: 0px;">
                	<ul class="mitem left-item">
                    	<li data="dashboard">
                        	<a th:href="@{/Donation/admin/dashboard}">
                            	<span class="micon">
                                	<i class="ti-settings"></i>
                                   	<span class="mtext">Bảng điều khiển</span>
                              	</span>
                         	</a>
                      	</li>
                  		<li data="Campaign">
                        	<a th:href="@{/Donation/admin/managerCampaign}">
                            	<span class="micon">
                                	<i class="ti-bookmark-alt"></i>
                                    <span class="mtext">Quản lý chiến dịch</span>
                               	</span>
                        	</a>
                     	</li>
                        <li data="User">
                        	<a th:href="@{/Donation/admin/manageUser}">
                            	<span class="micon">
                                	<i class="ti-user"></i>
                                    <span class="mtext">Quản lý người dùng</span>
                            	</span>
                       		</a>
                     	</li>
                        <li data="Donation">
                        	<a th:href="@{/Donation/admin/manageDonation}">
	                            <span class="micon">
	                            	<i class="ti-pie-chart"></i>
	                                <span class="mtext">Danh sách quyên góp</span>
	                          	</span>
                            </a>
                      	</li>
                	</ul>
            	</div>
          	</div>
      	</div>
  	</div>
</div>